<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pysics tutorials</title>
</head>
<body bgcolor="orange">
    <header>Welcome to our tutorials</header>
    <h1>login page</h1>
    <form action="/login" method="post">
        <label for="username" style="margin-left: 40%;">Username</label><br>
        <input type="text" id="username" name="username" style="margin-left: 40%;"><br>
        <label for="pwd" style="margin-left: 40%;">Password</label><br>
        <input type="text" id="pwd" name="password" style="margin-left: 40%;"><br>
        <button type="Signin" style="margin-left:40%;" >Sign in</button>
    </form>
    <h1>{{info}}</h1>
</body>
</html>